"""""""""""""""
" .vimrc
"""""""""""""""
" ---------------
" dain.vim setup
" ---------------

" Required:
set runtimepath^={{ dein_vim_dest }}

" Required:
call dein#begin(expand('{{ dein_vim_dest }}'))

" Let dein manage dein
" Required:
call dein#add('Shougo/dein.vim')

" Add or remove your plugins here:
{% for plugin in dein_vim_plugins %}
{% if plugin.revision is defined %}
call dein#add('{{ plugin.name }}', { 'rev': '{{ plugin.revision }}' })
{% else %}
call dein#add('{{ plugin.name | default(plugin) }}')
{% endif %}
{% endfor %}

" Required:
call dein#end()

" Required:
filetype plugin indent on

" If you want to install not installed plugins on startup.
if dein#check_install()
  call dein#install()
endif

" ---------------
" nomal vim setup
" ---------------

" Encode
set encoding=utf-8

" 見た目設定
set number       " 行番号を表示
set cursorline   " 行を強調
set cursorcolumn " 列を強調
set visualbell   " ビープ音を可視化
set showmatch    " 対応する括弧を強調
set list listchars=tab:\▸\- " tabを可視化

" カラースキーマ
colorscheme molokai
syntax on
set t_Co=256

" ステータスライン
set laststatus=2   " 常に表示
set statusline=%F  " ファイル名表示
set statusline+=%h " ヘルプページなら[help]と表示
set statusline+=%m " 変更チェック表示
set statusline+=%r " 読み込み専用かどうか
set statusline+=%w " プレビューウィンドウかどうか
set statusline+=%= " 以降右寄せ
set statusline+=[ENC=%{&fileencoding}]  " ファイルエンコーディング
set statusline+=[LOW=%l/%L]              " 現在行数/全行数
set statusline+=%{fugitive#statusline()} " Gitのブランチ名

" コマンドライン
set showcmd               " 入力中のコマンドをステータスに表示する
set wildmode=list:longest " コマンドの補完

" インデント
set expandtab    " タブを半角スペースに
set shiftwidth=4 " vimが表示するインデント幅
set tabstop=4    " タブ文字の表示幅
set smartindent  " 自動インデント

" 検索
set ignorecase " 検索文字列が小文字なら大文字小文字区別なく検索
set smartcase  " 検索文字列に大文字が含まれていたら区別して検索
set incsearch  " 検索文字入力時に順次対象文字列にヒットさせる
set wrapscan   " 最初に戻る
set hlsearch   " 検索結果のハイライト表示
nmap <Esc><Esc> :nohlsearch<CR><Esc> " ESC連打でハイライト解除

" 各種ファイルを作らない
set nobackup   " backupファイル
set noswapfile " swapファイル
set noundofile " undoファイル

" 編集中のファイルが変更されたら自動で読み直す
set autoread

" バッファが編集中でもその他のファイルを開けるように
set hidden

" 行末の1文字先までカーソルを移動できるように
set virtualedit=onemore

" [Backspace] で既存の文字を削除できるように設定
set nocompatible
set backspace=start,eol,indent
